//Colors
$color-primary: #159957;
$color-secondary: #155799;

$color-primary-light: #52c510;
$color-primary-dark: #003300;

$color-secondary-light: #abbcd8;
$color-secondary-dark: #001e55;

$color-text: #000317;
$color-white: #fff;
$color-black: #000;
$color-gray-light-1: #e2e2e2;

$color-gray-dark-1: #999;
$color-gray-darker: #040609;
//Font
$font-sz-default: 1.6rem;

//Grid
$grid-width: 114rem;
$gutter-bottom: 8rem;
$gutter-horizontal: 6rem;